@mixin prefix($property, $value) {
	#{'-webkit-'+$property}: $value;
	#{'-moz-'+$property}: $value;
	#{'-ms-'+$property}: $value;
	#{'-o-'+$property}: $value;
	#{$property}: $value;
}

@mixin line($button-size, $color, $transition) {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $color;
  border-radius: $button-size/14; 
  transition: $transition;
}