@import 'mixins.scss';
@import 'navigation.scss';

html, body {
	overflow: hidden;
	font-family: 'Raleway';
	font-weight: 300;
	background: #fff;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Slab';
	text-transform: uppercase;
	font-weight: 700;
}

section {
	opacity: 0;
	background: #fff;
	position: absolute;
	left: 9999px;
	top: 0;
	width: 100%;
	height: 100vh;
	@include prefix(transition, opacity 1s);

	&.active {
		left: 0;
		opacity: 1;
	}
}

.btn-disabled {
	text-decoration: line-through;
}

.control-btn {
	background: transparent;
	border: 0;
	font-size: 2em;
	opacity: 0.3;
	@include prefix(transition, all .2s);

	&:hover {
		opacity: 0.6;

		.warning {
			opacity: 1;
		}
	}

	&:active,
	&:focus {
		outline: none;
		opacity: 1;
	}

	.glyphicon {
		position: relative;
		top: 0.15em;
	}

	.warning {
		opacity: 0;
		color: red;
		font-size: 0.6em;
		display: inline!important;
		float: none!important;
		border-radius: none;
		font-family: 'Raleway';
		@include prefix(transition, all .2s);
	}
}

.window-control {
	@extend .control-btn;
}

#loading {
	h1 {
		text-align: center;
		margin-top: 40vh;
		font-size: 4em;

		.glyphicon {
			-webkit-animation: pulse 1s infinite;
		}
	}

	#loading-info {
		text-align: center;
		font-size: 1.5em;
		font-family: 'Roboto Slab';
	}
}

@-webkit-keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
	}
}

#home {

	h1 {
		text-align: center;
		margin: 3em 0 2em 0;
		font-size: 5.5em;
	}

	#main-search-form {

		margin-top: 48vh;
		font-family: 'Roboto Slab';
		font-weight: 700;
		display: block;
		width: 100%;
		text-align: center;

		#main-search {

			width: 44%;
			border: 0;
			font-size: 2em;
			text-transform: uppercase;

			&:active,
			&:focus {
				outline: none;
			}
		}

		#main-search-submit {
			@extend .control-btn;
		}
	}

	#main-search-alternatives {
		width: 48%;
		margin: 1em auto;

		.control-btn {
			font-size: 1.6em;
			display: block;
			opacity: 0.7;

			&:hover {
				opacity: 1;
			}
		}
	}
}

#movie-info,
#series-info,
#season-info,
#actor-info {

	.container-fluid {
		padding-left: 0;
	}

	.movie-poster,
	.series-poster,
	.season-poster,
	.actor-profile {
		width: 100%;
		display: block;
	}

	.movie-heading,
	.series-heading,
	.season-heading,
	.actor-heading {
		font-size: 4em;
		max-width: 90%;
		padding-left: 1.5em;
		position: relative;

		.back-btn {
			position: absolute;
			left: 0;
			top: 25%;
			font-size: 1em;
		}

		.movie-year,
		.series-year,
		.season-year,
		.actor-lived {
			display: block;
			margin: 0.3em 0;
		}
	}

	.movie-info-text,
	.series-info-text,
	.season-info-text {
		margin: 0;
		margin-top: 0.3em;
	}

	.series-plot,
	.season-plot,
	.actor-biography-holder {
		max-height: 15vh;
		overflow-y:scroll;
		width: 107%;
		padding-right: 3em;
	}

	.actor-biography-holder {
		max-height: 50vh;
	}

	.actor-biography {
		max-width: 35em;
	}

	#movie-search-torrents,
	#actor-credits-find {
		font-family: 'Roboto Slab';
		font-weight: 700;
		text-transform: uppercase;
	}

	#series-seasons {

		height: 30vh;
		overflow-y:scroll;
		width: 110%;

		.series-season {
			float: left;
			position: relative;
			width: 10vw;
			min-width: 150px;
			height: 25vh;
			min-height: 240px;
			overflow: hidden;
			margin-left: 6px;
			margin-bottom: 6px;
			cursor: pointer;

			.season-poster {
				display: block;
				width: 100%;
			}

			.season-description-box {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: rgba(#fff, 0.6);
				opacity: 0;
				@include prefix(transition, all .3s);

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	#season-episodes {
		max-height: 70vh;
		overflow-y:scroll;
		width: 107%;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#settings {

	.setting-desc {

		max-width: 35em;
	}
}

#movies,
#actors,
#settings {

	.back-btn {
		font-size:3em!important;
		margin-top: 0.2em;
		position: absolute;
		z-index: 9999;
		top: 0;
	}

	h1 {
		margin-left: 2em;
	}

	#movies-list,
	#actors-list {
		overflow-y: scroll;
		height: 90vh;
		width: 110%;
	}

	.actor {
		@include prefix(filter, grayscale(100%));
		@include prefix(transition, all .3s ease);

		&:hover {
			@include prefix(filter, grayscale(0));
		}
	}

	.movie,
	.actor {

		float: left;
		position: relative;
		width:19vw;
		min-width:240px;
		height: 50vh;
		min-height: 360px;
		overflow: hidden;
		margin-left: 10px;
		margin-bottom: 10px;
		cursor: pointer;
		-webkit-animation: fadeIn 0.6s;

		.movie-poster,
		.actor-profile {
			display: block;
			width: 100%;
		}

		.actor-name {
			position: absolute;
			bottom: 1em;
			left: 0;
			padding: 0.5em;
			background: rgba(#fff, 0.8);
		}

		.movie-description-box {
			position: absolute;
			top: 0;
			left: 0;
			padding: 1em;
			height: 100%;
			width: 100%;
			background: rgba(#fff, 0.6);
			opacity: 0;
			@include prefix(transition, all .3s);

			&:hover {
				opacity: 1;
			}
		}
	}
}

#actor-search {
	font-family: 'Roboto Slab';
	font-weight: 700;
	display: block;
	width: 100%;
	text-align: left;
	margin: 1.5em 0 1.5em 5em;

	#actor-search-input {

		width: 25%;
		border: 0;
		font-size: 2em;
		text-transform: uppercase;

		&:active,
		&:focus {
			outline: none;
		}
	}

}

.genre-list {
	display: inline;
	.genre-item {
		margin: 0.15em;
		padding: 0.3em;
		color: #fff;
		cursor: pointer;
		background: rgba(0,0,0,0.3);
		@include prefix(transition, all .2s);

		&:hover {
			background: rgba(0,0,0,0.6);
		}

		&:active {
			background: rgba(0,0,0,1);
		}
	}
}

#genres {
	
	h1 {
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.genre-item {
		display: inline-block;
		padding: 1.1em;
		font-size: 1.8em;
		font-family: 'Roboto Slab';
		font-weight: 700;
	}
}

#torrents {

	h1 {
		margin: 1em 0 3em 2em;
		font-size: 3em;
	}

	.back-btn {
		font-size:3em!important;
		margin-top: 0.2em;
		position: absolute;
		z-index: 9999;
		top: 0;
	}

	.torrent {
		margin-top: 0.5em;

		span {
			line-height: 2;
		}

		.torrent-play {
			@extend .control-btn; 
		}
	}

}

#player {
	background: #000;
	color: #fff;

	#mediaPlayer {
		width: 100%;
		height: 100vh;

		&:focus {
			border: 0;
			outline: none;
		}
	}
}
