<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PirateFlix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script type="text/javascript" src="../assets/js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav id="sidebar-nav">
      <div class="window-control-bar">
          <button class="window-control" id="btn-nav-toggle" title="Open navigation"><i class="glyphicon glyphicon-menu-hamburger"></i></button>     
          <button class="window-control" id="btn-window-home" title="Go to Home"><i class="glyphicon glyphicon-home"></i></button>
          <button class="window-control" id="btn-window-fullscreen" title="Fullscreen"><i class="glyphicon glyphicon-resize-full"></i></button>
          <button class="window-control" id="btn-window-minimize" title="Minimize Window"><i class="glyphicon glyphicon-resize-small"></i></button>
          <button class="window-control" id="btn-window-close" title="Close"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <button class="control-btn btn-nav" id="btn-search"><i class="glyphicon glyphicon-search"></i> Search</button>
      <button class="control-btn btn-nav" id="btn-top"><i class="glyphicon glyphicon-star"></i> Top Movies</button>
      <button class="control-btn btn-nav" id="btn-latest"><i class="glyphicon glyphicon-facetime-video"></i> Latest Movies</button>
      <button class="control-btn btn-nav btn-disabled" id="btn-genres"><i class="glyphicon glyphicon-tags"></i> Genres</button>
      <button class="control-btn btn-nav btn-disabled" id="btn-actors"><i class="glyphicon glyphicon-user"></i> Actors</button>
      <button class="control-btn btn-nav btn-disabled" id="btn-favourites"><i class="glyphicon glyphicon-heart"></i> Favourites</button>
      <button class="control-btn btn-nav" id="btn-player"><i class="glyphicon glyphicon-play"></i> Player</button>
      <button class="control-btn btn-nav btn-disabled" id="btn-search"><i class="glyphicon glyphicon-cog"></i> Settings</button>
    </nav>
    
    <section id="controls">
      <div class="container-fluid">
        
      </div>
    </section>

    <section id="home">
      <div class="container-fluid">
        <div class="row">
          <form id="main-search-form">
            <input type="text" id="main-search" placeholder="What would you like to watch?">
            <button id="main-search-submit"><i class="glyphicon glyphicon-chevron-right"></i></button>
          </form>
          <div id="main-search-alternatives">
            <button class="control-btn" id="top-rated-movies">Show me the most popular movies <i class="glyphicon glyphicon-chevron-right"></i></button>
            <button class="control-btn" id="latest-movies">Show me the latest movies <i class="glyphicon glyphicon-chevron-right"></i> 
              <small class="warning"><i class="glyphicon glyphicon-warning-sign"></i> Torrents may be unavailable</small>
            </button>
            <button class="control-btn" id="random-movie">Show me a random movie <i class="glyphicon glyphicon-chevron-right"></i>
              <small class="warning"><i class="glyphicon glyphicon-warning-sign"></i> Like, sometimes <i>really</i> random</small>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section id="movies">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button class="control-btn back-btn" title="Back">
              <i class="glyphicon glyphicon-chevron-left"></i>
            </button>
            <h1>Choose your movie</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="movies-list" class="row">
              <div class="movie">
                <img class="movie-poster">
                <div class="movie-description-box">
                  <h4 class="movie-title"></h4>
                  <span class="movie-year"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="movie-info">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-5">
            <img src="" class="movie-poster">
          </div>
          <div class="col-xs-7">
            <div class="row">
              <div class="col-xs-3"></div>
            </div>
            <h1 class="movie-heading">
              <button class="control-btn back-btn" title="Back">
                <i class="glyphicon glyphicon-chevron-left"></i>
              </button>
              <span class="movie-title"></span>
              <small class="movie-year"></small>
            </h1>
            <hr>
            <p class="movie-info-text">Director: <span class="movie-director"></span></p>
            <p class="movie-info-text">Writer: <span class="movie-writer"></span></p>
            <p class="movie-info-text">Actors: <span class="movie-actors"></span></p>
            <p class="movie-info-text">Genre: <span class="movie-genre"></span></p>
            <hr>
            <p class="movie-info-text movie-plot"></p>
            <hr>
            <button id="movie-search-torrents" class="control-btn">Search torrents <i class="glyphicon glyphicon-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </section>

    <section id="series-info">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-5">
            <img src="" class="series-poster">
          </div>
          <div class="col-xs-7">
            <h1 class="series-heading">
              <button class="control-btn back-btn" title="Back">
                <i class="glyphicon glyphicon-chevron-left"></i>
              </button>
              <span class="series-title"></span>
              <small class="series-year"></small>
            </h1>
            <hr>
            <p class="series-info-text">Director: <span class="series-director"></span></p>
            <p class="series-info-text">Writer: <span class="series-writer"></span></p>
            <p class="series-info-text">Actors: <span class="series-actors"></span></p>
            <p class="series-info-text">Genre: <span class="series-genre"></span></p>
            <hr>
            <p class="series-info-text series-plot"></p>
            <hr>
            <h3>Seasons</h3>
            <div id="series-seasons" class="row">
              <div class="series-season">
                <img src="" class="season-poster">
                <div class="season-description-box">
                  <h4 class="season-title"></h4>
                  <p class="season-year"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="season-info">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-5">
            <img src="" class="season-poster">
          </div>
          <div class="col-xs-7">
            <h1 class="season-heading">
              <button class="control-btn back-btn" title="Back">
                <i class="glyphicon glyphicon-chevron-left"></i>
              </button>
              <span class="season-title"></span>
              <small class="season-year"></small>
            </h1>
            <hr>
            <h3>Episodes</h3>
            <div id="season-episodes" class="container-fluid">
              <div class="season-episode row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-9">
                      <h4 class="episode-title"></h4>
                    </div>
                    <div class="col-xs-3">
                      <button class="control-btn episode-play" title="Play episode">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-10">
                      <p class="episode-plot"></p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="torrents">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <button class="control-btn back-btn" title="Back">
              <i class="glyphicon glyphicon-chevron-left"></i>
            </button>
            <h1>Choose your torrent</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="torrent-header row">
          <div class="col-xs-6">
            <h4>Name</h4>
          </div>
          <div class="col-xs-1">
            <h4><i class="glyphicon glyphicon-arrow-up"></i></h4>
          </div>
          <div class="col-xs-1">
            <h4><i class="glyphicon glyphicon-arrow-down"></i></h4>
          </div>
          <div class="col-xs-2">
            <h4>Size <i class="glyphicon glyphicon-hdd"></i></h4>
          </div>
        </div>
      </div>
      <div class="container" id="torrents-list">
        <div class="torrent row">
          <div class="col-xs-6">
            <span class="torrent-name"></span>
          </div>
          <div class="col-xs-1">
            <span class="torrent-seeds"></span>
          </div>
          <div class="col-xs-1">
            <span class="torrent-leeches"></span>
          </div>
          <div class="col-xs-2">
            <span class="torrent-size"></span>
          </div>
          <div class="col-xs-1">
            <button class="torrent-play"><i class="glyphicon glyphicon-play"></i></button>
        </div>
      </div>
    </section>

    <section id="player">
      <video autoplay preload="true" controls id="mediaPlayer"></video>
    </section>

    <section id="next-episode">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="next-episode-heading">
              <small class="next-episode-legend">
                up next:
              </small>
              <span id="next-episode-title">
              </span>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-7">&nbsp;</div>
          <div class="col-xs-5">
            <div class="row">
              <div class="col-xs-4">
                <span class="next-episode-starting-in">
                  starting in:
                </span>
              </div>
              <div class="col-xs-4">
                <span id="next-episode-counter"></span>
              </div>
              <div class="col-xs-4">
                <span class="next-episode-seconds">
                  seconds
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid slide-down" id="next-episode-more">
        <div class="row next-episode-more-header">
          <div class="col-xs-4">
            <p class="next-episode-more-text">
              This is not what I want!
              <span class="next-episode-show-alternatives">
                Show alternatives
              </span>
            </p>
          </div>
          <div class="col-xs-4">
            <button class="control-btn" id="next-episode-show-alternatives-btn">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </button>
          </div>
        </div>
        <div class="row next-episode-alternatives">
          torr1
          <br>
          torr2
          <br>
          torr3
        </div>
        <div class="row next-episode-search">
          <input type="submit" class="glyphicon glyphicon-search control-btn">
          <input type="text">
        </div>
      </div>
    </section>

    <section id="loading">
      <h1><i class="glyphicon glyphicon-console"></i> Loading...</h1>
      <br>
      <p id="loading-info">This may take a few seconds</p>
    </section>
  </body>
  <script>
    require('../assets/js/renderer.js');
    require('../assets/js/window-controls.js');
    require('../assets/js/nav-controller.js');
  </script>
</html>
