<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PirateFlix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script type="text/javascript" src="../assets/js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <section id="controls">
        <div class="row window-control-bar">
          <button class="window-control" id="btn-window-close" title="Close"><i class="glyphicon glyphicon-remove"></i></button>
          <button class="window-control" id="btn-window-minimize" title="Minimize Window"><i class="glyphicon glyphicon-resize-small"></i></button>
          <button class="window-control" id="btn-window-fullscreen" title="Fullscreen"><i class="glyphicon glyphicon-resize-full"></i></button>
          <button class="window-control" id="btn-window-home" title="Go to Home"><i class="glyphicon glyphicon-home"></i></button>
            
            
        </div>
      </div>
    </section>

    <section id="home">
      <div class="container-fluid">
        <div class="row">
          <h1>Welcome to PirateFlix</h1>
          <form id="main-search-form">
            <input type="text" id="main-search" placeholder="What would you like to watch?">
            <button id="main-search-submit"><i class="glyphicon glyphicon-chevron-right"></i></button>
          </form>
        </div>
      </div>
    </section>

    <section id="movies">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1>Choose your movie</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="movies-list" class="row">
              <div class="movie">
                <img class="movie-poster">
                <h4 class="movie-title"></h4>
                <span class="movie-year"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="movie-info">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-5">
            <img src="" class="movie-poster">
          </div>
          <div class="col-xs-7">
            <h1 class="movie-title"></h1>
            <hr>
            <p class="movie-info-text">Director: <span class="movie-director"></span></p>
            <p class="movie-info-text">Writer: <span class="movie-writer"></span></p>
            <p class="movie-info-text">Actors: <span class="movie-actors"></span></p>
            <p class="movie-info-text">Genre: <span class="movie-genre"></span></p>
            <hr>
            <p class="movie-info-text movie-plot"></p>
            <hr>
            <button id="movie-search-torrents" class="control-btn">Search torrents <i class="glyphicon glyphicon-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </section>

    <section id="torrents">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1>Choose your torrent</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="torrent-header row">
          <div class="col-xs-6">
            <h4>Name</h4>
          </div>
          <div class="col-xs-1">
            <h4><i class="glyphicon glyphicon-arrow-up"></i></h4>
          </div>
          <div class="col-xs-1">
            <h4><i class="glyphicon glyphicon-arrow-down"></i></h4>
          </div>
          <div class="col-xs-2">
            <h4>Size <i class="glyphicon glyphicon-hdd"></i></h4>
          </div>
        </div>
      </div>
      <div class="container" id="torrents-list">
        <div class="torrent row">
          <div class="col-xs-6">
            <span class="torrent-name"></span>
          </div>
          <div class="col-xs-1">
            <span class="torrent-seeds"></span>
          </div>
          <div class="col-xs-1">
            <span class="torrent-leeches"></span>
          </div>
          <div class="col-xs-2">
            <span class="torrent-size"></span>
          </div>
          <div class="col-xs-1">
            <button class="torrent-play"><i class="glyphicon glyphicon-play"></i></button>
        </div>
      </div>
    </section>

    <section id="player">
      <video autoplay preload="true" controls id="mediaPlayer"></video>
    </section>

    <section id="loading">
      <h1><i class="glyphicon glyphicon-console"></i> Loading...</h1>
    </section>
  </body>
  <script>
    //require('../assets/js/jquery.min.js');
    //require('../assets/js/bootstrap.min.js');
    require('../assets/js/renderer.js');
    require('../assets/js/window-controls.js');
  </script>
</html>
